@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=DynaPuff&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=DynaPuff&family=Rubik:wght@500&family=Ubuntu:wght@500&display=swap');

header {
    background-color: #FF8066;
    text-align: center;
    padding-bottom: 0px;
}

#html1 {
    color: #FFF5F1;
    display: flex;
}

h1 {
    font-family: 'Ubuntu';
    padding-top: 20px;
    font-weight: 600;
    font-size: 50px;
}

li {
    list-style: none;
    margin-right: 40px;
    font-size: 20px;
    margin-top: -20px;
}

img {
    padding-right: 130px;
    padding-left: 15px;
    width: 250px;
}


#section1 {
    text-align: center;
    background-color: #BB8376;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

h2 {
    padding-top: 70px;
    font-family: 'Caveat';
    font-size: 50px;
}

p {
    font-family: 'Ubuntu';
    font-size: 25px;
    display: inline;
}

#section2 {
    background-color:#1b95b7;
    display: flex;
}

.RightArrow {
    width:90%;
    position: relative;
 }
 
 .line {
    margin-top:8px;
    width: 250px;
    background:black;
    height:0.3em;
    float:left;
    position: absolute;
    margin-top: 80px;
    margin-left: 80px;
 }
 .point {    
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 37px solid black;
    float:right;
    margin-top: 72px;
    margin-right: 120px;
 }

 h3 {
    margin-top: 60px;
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 30px;
    margin-left: 100px;
    text-align: center;
 }

 #section3 {
    background-color: #BB8376;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 #section3 img {
    margin-left: 30px;
 }

 h4 {
    margin-right: 90px;
    font-family: 'ubuntu';
    font-size: 30px;
    font-weight: bold;
 }

 #locations {
     margin-left: -70px;
     display: flex;
     flex-direction: column;
    }
    
    footer {
    background-color: #FF8066;
 }

 h5 {
font-style: 'Rubik';
font-size: 20px;
margin-bottom: -1px;
 }

 #footerdiv {
    display: flex;
 }

 #locations p {
    font-style: 'Rubik';
    font-size: 10px; 
    margin-left: 3px;
 }

 #hoursopen {
    margin-left: 30px;
    border: black 3px solid;
 }

 #hoursopen p {
    font-style: 'Rubik';
    font-size: 10px; 
    margin-left: 30px;
 }

 h6 {
    font-style: 'Rubik';
    font-size: 20px;
    margin-bottom: -1px;
    margin-top: 35px;
 }

 h7 {
font-style: 'Rubik';
font-size: 20px;
margin-bottom: -1px;
 }

 #contact p {
    font-style: 'Rubik';
    font-size: 10px; 
    margin-left: 30px; 
 }

 #locations {
   border: black solid;
 }

 #full-footer {
   display: flex;
   justify-content: center;
 }

 #contact {
   border: black 3px solid;
   margin-left: 20px;
 }

