
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Ubuntu:wght@500&display=swap');

#headline {
    display: flex;
    flex-direction: column;
}

#big {
    border:3px solid black;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(56, 39, 16, 0.658);
    margin-top: 50px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 2px solid black;
    font-weight: 600;
}

header {
    background-color: rgb(58, 56, 56);
    text-align: center;
    padding-bottom: 15px;
    display: flex;
    border: solid 10px black;
    color: rgb(204, 196, 196);
}

body {
    background-color: rgba(117, 69, 7, 0.658);
}


h1 {
    padding-top: 30px;
   margin-top: -8px;
   font-size: 60px;
   font-family: 'Ubuntu';
   
}

#first {
    display: flex;
    margin-left: 150px;
    align-items: center;
}

#salmon1 {
    width: 200px;
    margin-right: 50px;
    margin-top: 20px;
    
}

#salmon2 {
    width: 200px;
    margin-left: 50px;
    margin-top: 20px; 
}

h2 {
    text-align: center;
    margin-bottom: -30px;
    font-family: Arial, Helvetica, sans-serif;
}

#city-form {
    margin-top: 50px;
}

legend {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 400;
}

form {
    display: flex;
    justify-content: center;
}