#big {
    border:1px solid black;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
    margin-top: 40px;
}

th {
    border: 1px solid black;
}

td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

header {
    background-color: blue;
    text-align: center;
    padding-bottom: 15px;
}

body {
    background-color: blueviolet;
}